@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 优先级低于 base内的样式 除非有important */
@layer base {
  .test-layer-base {
    color: red;
  }
  .test-layer-base2 {
    color: blue;
  }
}

/* 优先级最高 除非有important */
.test-layer-base1 {
  color: yellow;
  @apply text-blue-500; /* 复用tailwind的样式 */
}