/* 自定义样式 模版 */
.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    &.shape1 {
        color: red;
    }
}
